@model IEnumerable<OverflowVictor.Web.Models.AnswersListModel>
<head>
    <title>Index</title>
    <style>
        .block {
            width: 50px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
        }
    </style>
</head>
<br/>
<h3>Answers</h3>
<hr/>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <div class="block" style="margin-left: 5%">
                @using (Html.BeginForm("VoteUpAnswer", "Question", new { answerId = item.Id  }))
                {
                    <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                }
                <label style="text-align: center; margin-left: 15%">@item.Votes </label>
                @using (Html.BeginForm("VoteDownAnswer", "Question", new { answerId = item.Id }))
                {
                    <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                }
            </div>
            <div style="display: inline-block">
                <h4 >
                    @item.Description
                </h4>
            </div>
            <div style="margin-left: 25%; background-color: sienna; width: 200px;">
                Asked @item.Date
                <br/>by
                @Html.ActionLink(item.OwnerName, "GoToProfile", "Account", new {ownerId = item.AccountId}, null)
                <br/>
                Views @item.Views
            </div>
        </li>
    }
</ul>
