@model IEnumerable<OverflowVictor.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}
<head>
    <title>Index</title>
    <style>
        .row {
            width: 100%;
            text-align: center;
        }

        .block {
            width: 50px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
        }
    </style>
</head>
<div>
    <h2 style="display: inline-block">Top Questions</h2>
    <button  onclick="window.location.href='/Question/AskQuestion/'" style="display: inline-block; margin-left: 50%" type="button" class="btn btn-info">Ask Question</button>
</div>
<br/>
<hr/>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <div >
                <div class="block" onclick="window.location.href='/Question/QuestionDetail/?questionId='+'@item.Id'">
                    <div><span title="@item.Votes votes">@item.Votes</span></div>
                    <div>votes</div>
                </div>

                <div class="block" onclick="window.location.href ='/Question/QuestionDetail/?questionId=' + '@item.Id'">
                    <div class="block"><span title="@item.AnswerCount answers">@item.AnswerCount </span></div>
                    <div>answers</div>
                </div>
                <div class="block" onclick="window.location.href ='/Question/QuestionDetail/?questionId=' + '@item.Id'">
                    <div class="block"><span title="@item.Views views">@item.Views</span></div>
                    <div>views</div>
                </div>
                <blockquote style="display: inline-block">
                    @Html.ActionLink(@item.Title, "QuestionDetail", "Question", new {questionId = item.Id}, null)
                    <footer>Asked @item.Date by
                        @Html.ActionLink(@item.OwnerName, "GoToProfile", "Account", new {ownerId = item.OwnerId}, null)
                    </footer>
                </blockquote>
            </div>
        </li>
    }
</ul>
