@model IEnumerable<OverflowVictor.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AskQuestion","Question")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificaDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "QuestionDetail", new { questionId = item.Id }, null);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificaDate)
        </td>
        <td>
            @Html.ActionLink(item.OwnerName, "GoToProfile", "Account", new { ownerId = item.OwnerId }, null)
        </td>
    <td>@*
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            *@
        </td>
    </tr>
}

</table>
