@model OverflowVictor.Web.Models.QuestionDetailModel

@{
    ViewBag.Title = "QuestionDetail";
}

<h3>@Model.Title</h3>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           @using (Html.BeginForm("VoteUpQuestion", "Question", new { questId = Model.Id }))
            {
                <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            }
            <p></p>
            <p style="text-align: center;margin-left: 75%">@Model.Votes</p>
            @using (Html.BeginForm("VoteDownQuestion", "Question", new { questId = Model.Id }))
            {
                <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            }
            <br/>
            
        </dt>
            
        <dd>
            <h4>@Model.Description</h4>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Answer Question", "AnswerQuestion", new { questionId = Model.Id }, null) |
    @Html.ActionLink("All Answers ", "AnswerList", new { questionId = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
