@model OverflowVictor.Web.Models.QuestionDetailModel

@{
    ViewBag.Title = "QuestionDetail";
}

<h2>Question Detail</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink("+", "VoteUpQuestion", "Question", new { questId = Model.Id }, new { @class = "link-button" }) |
            @Html.ActionLink("-", "VoteDownQuestion", "Question", new { questId = Model.Id }, new { @class = "link-button" })<br />
            
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
            @Html.ActionLink("-", "VoteDownQuestion", "Question", null, new { @class = "link-button" })<br />
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Answer Question", "AnswerQuestion", new { questionId = Model.Id }, null) |
    @Html.ActionLink("All Answers ", "AnswerList", new { questionId = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
