@model OverflowVictor.Web.Models.QuestionDetailModel

@{
    ViewBag.Title = "QuestionDetail";
}

<h3>@Model.Title</h3>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @using (Html.BeginForm("VoteUpQuestion", "Question", new {questId = Model.Id}))
            {
                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            }
            <label style="text-align: center; margin-left: 65%">@Model.Votes </label>
            @using (Html.BeginForm("VoteDownQuestion", "Question", new {questId = Model.Id}))
            {
                <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            }
            <br/>
        </dt>

        <dd>
            <h4>@Model.Description</h4>
        </dd>
    </dl>
    <div style="margin-left: 25%; background-color: sienna; width: 200px;">
        Asked @Model.Date
        <br/>by
        @Html.ActionLink(Model.Name +" "+ Model.LastName, "GoToProfile", "Account", new {ownerId = Model.OwnerId}, null)
        <br/>
        Views @Model.Views
    </div>
</div>
<div>
    @{Html.RenderAction("AnswerList","Question",new{models=Model.Answers});}

</div>
<p>
    @Html.ActionLink("Answer Question", "AnswerQuestion", new { questionId = Model.Id }, null)
</p>
